input[type='text'] {
  margin: 5px;
  font-size: 1.5em;
  padding: 5px;
  border: 2px lightblue solid;
  border-radius: 5px;
  box-shadow: 0 0 16px lightblue;
}

input[type='submit'] {
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  border: 2px lightblue solid;
  box-shadow: 0 0 16px lightblue;
  border-radius: 5px;
  cursor: pointer;
}
